.container_listAll_emp_auth{
	margin-top: 40px;
}
.table_listAll_emp_auth>tbody>tr:nth-of-type(even){
	background: #d5f1ff;
}
.table_listAll_emp_auth>tbody>tr:hover{
	background: #eeeeee;
}
.table_listAll_emp_auth > thead > tr > th{
/* 	white-space: nowrap; */
	height: 20px;
	font-size: 20px;
	text-align: center;
    vertical-align: middle;
}
.table_listAll_emp_auth > tbody > tr > td{
	
	font-size: 20px;
	text-align: center;
    vertical-align: middle;
}
.search_table_listAll_emp_auth > thead > tr > th{
/* 	border: 1px solid red; */
/* 	width: 100%; */
	height: 30px;
}
.control-label_listAll_emp_auth{ 
	margin-top: 5px;
 	font-size: 20px; 
 	width: 30%; 
/* 	height: 40px; */
}
.fa-check{
	font-size:30px; 
	color:#00bb0a;
}
.fa-times{
	font-size:30px; 
	color:red;
}
.auth{
	width: 20px;
  	height: 20px;
}
.allClose_btn{
	color: red;
	font-size: 18px;
/* 	margin-top: 16px; */
}
.allOpen_btn{
	color: green;
	font-size: 20px;
/* 	margin-top: 16px; */
}
/* .insert_btn{ */
/* 	font-weight: bold; */
/* 	font-size: 24px; */
/* 	width: 120px; */
/* 	height: 50px; */
/* 	margin-bottom:15px; */
/* 	margin-right:20px; */
/* } */
/* .delete_btn{ */
/* 	font-size: 18px; */
/* 	margin-top: 16px; */
/* 	border: none; */
/* 	background: transparent; */
/* } */
/* .update_btn{ */
/* 	color: green; */
/* 	font-size: 20px; */
/* 	margin-top: 16px; */
/* 	border: none; */
/* 	background: transparent; */
/* } */
/* .modify_btn{ */
/* 	margin-top: 16px; */
/* } */


