@import url(http://fonts.googleapis.com/css?family=Share+Tech);

.div_percent {
  font-family: 'Share Tech', sans-serif;
/*   width: 400px; */
/*   height: 200px; */
  /*position: relative;*/
  /*margin: auto;*/
  /*color: #444;*/
}

.svg {
  width: 165px;
  height: 165px;
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
}

.percent {
  font-weight:bold;
  font-style:italic;
  margin-left:15px;
  line-height: 220px;
  height: 20px;
  font-size: 45px;
  text-align: center;
  color: #3da08d;
  opacity: 0.8
/*   width: 170px; */
/*   top: 90px; */
}

