<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>AA103G3_Hibernate</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/JBZDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>BasicCheckServlet</servlet-name>
		<servlet-class>com.basiccheck.controller.BasicCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BasicCheckServlet</servlet-name>
		<url-pattern>/basicCheck/basicCheck.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BGCheckServlet</servlet-name>
		<servlet-class>com.bgcheck.controller.BGCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BGCheckServlet</servlet-name>
		<url-pattern>/bgCheck/bgCheck.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BPcheckServlet</servlet-name>
		<servlet-class>com.bpcheck.controller.BPcheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BPcheckServlet</servlet-name>
		<url-pattern>/bpCheck/bpCheck.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SleepcheckServlet</servlet-name>
		<servlet-class>com.sleepcheck.controller.SleepCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SleepcheckServlet</servlet-name>
		<url-pattern>/sleepCheck/sleepCheck.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GPSSportServlet</servlet-name>
		<servlet-class>com.gpssport.controller.GPSSportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GPSSportServlet</servlet-name>
		<url-pattern>/gpssport/gpssport.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SportServlet</servlet-name>
		<servlet-class>com.sport.controller.SportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SportServlet</servlet-name>
		<url-pattern>/sport/sport.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemAchServlet</servlet-name>
		<servlet-class>com.memach.controller.MemAchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemAchServlet</servlet-name>
		<url-pattern> /memach/memach.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AchServlet</servlet-name>
		<servlet-class>com.ach.controller.AchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AchServlet</servlet-name>
		<url-pattern> /ach/ach.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FriendServlet</servlet-name>
		<servlet-class>com.friend.controller.FriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendServlet</servlet-name>
		<url-pattern> /friend/friend.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginHandler</servlet-name>
		<servlet-class>com.mem.controller.LoginHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginHandler</servlet-name>
		<url-pattern> /mem/login.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetJson</servlet-name>
		<servlet-class>com.basiccheck.controller.GetJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetJson</servlet-name>
		<url-pattern> /basicCheck/getWeightJson.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetJsonBG</servlet-name>
		<servlet-class>com.bgcheck.controller.GetJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetJsonBG</servlet-name>
		<url-pattern> /bgCheck/getBGCheckJson.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetJsonBP</servlet-name>
		<servlet-class>com.bpcheck.controller.GetJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetJsonBP</servlet-name>
		<url-pattern> /bpCheck/getBPCheckJson.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetJsonSleep</servlet-name>
		<servlet-class>com.sleepcheck.controller.GetJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetJsonSleep</servlet-name>
		<url-pattern> /sleepCheck/getSleepCheckJson.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SportGetJson</servlet-name>
		<servlet-class>com.sport.controller.SportGetJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SportGetJson</servlet-name>
		<url-pattern> /sport/getSportjson.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FoodGetJson</servlet-name>
		<servlet-class>com.foodlist.controll.FoodGetJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodGetJson</servlet-name>
		<url-pattern> /food/getFoodjson.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MemGetJson</servlet-name>
		<servlet-class>com.mem.controller.MemGetJson</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemGetJson</servlet-name>
		<url-pattern> /mem/memjson.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SportTypeImg</servlet-name>
		<servlet-class>com.sporttype.model.SportTypeImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SportTypeImg</servlet-name>
		<url-pattern> /sporttypeImg/sporttypeImg.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AchImg</servlet-name>
		<servlet-class>com.ach.model.AchImg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AchImg</servlet-name>
		<url-pattern> /ach/achImg.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PersonalImg</servlet-name>
		<servlet-class>com.friend.controller.Reader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PersonalImg</servlet-name>
		<url-pattern> /personal/personal.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FoodlistServlet</servlet-name>
		<servlet-class>com.foodlist.controll.FoodlistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodlistServlet</servlet-name>
		<url-pattern>/foodlist/foodlist.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClockServlet</servlet-name>
		<servlet-class>com.clock.controller.ClockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClockServlet</servlet-name>
		<url-pattern>/clock/clock.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FoodServlet</servlet-name>
		<servlet-class>com.food.controller.FoodServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FoodServlet</servlet-name>
		<url-pattern>/foodlist/food.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GroupinfoServlet</servlet-name>
		<servlet-class>com.groupinfo.controller.GroupinfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupinfoServlet</servlet-name>
		<url-pattern>/group_info/GroupinfoServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowImg_memno</servlet-name>
		<servlet-class>ShowImg_memno</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImg_memno</servlet-name>
		<url-pattern>/mem/ShowImg_memno</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowImg_session_mem</servlet-name>
		<servlet-class>ShowImg_session_mem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImg_session_mem</servlet-name>
		<url-pattern>/mem/ShowImg_session</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>connectionMail</servlet-name>
		<servlet-class>com.mail.controller.connectionMail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>connectionMail</servlet-name>
		<url-pattern>/mail/connectionMail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemServlet</servlet-name>
		<servlet-class>com.mem.controller.MemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemServlet</servlet-name>
		<url-pattern>/mem/MemServlet.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HplServlet</servlet-name>
		<servlet-class>com.hpl.controller.HplServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HplServlet</servlet-name>
		<url-pattern>/hpl/HplServlet.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>setCharacterEncoding</filter-name>
		<filter-class>tool.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>setCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>tool.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/front-end/basiccheck/*</url-pattern>
		<url-pattern>/front-end/bpcheck/*</url-pattern>
		<url-pattern>/front-end/bgcheck/*</url-pattern>
		<url-pattern>/front-end/sleepcheck/*</url-pattern>
		<url-pattern>/front-end/friend/*</url-pattern>
		<url-pattern>/front-end/gpssport/*</url-pattern>
		<url-pattern>/front-end/sportanyl/*</url-pattern>
		<url-pattern>/front-end/watchsport/*</url-pattern>
		<url-pattern>/front-end/foodlist/*</url-pattern>
		<url-pattern>/front-end/clock/*</url-pattern>
		<url-pattern>/front-end/group/*</url-pattern>
		<url-pattern>/front-end/hpl/*</url-pattern>
		<url-pattern>/front-end/homePage.jsp</url-pattern>
		<url-pattern>/front-end/personalPage.jsp</url-pattern>
		<url-pattern>/front-end/healthCheck.jsp</url-pattern>
		<url-pattern>/front-end/sportdairy.jsp</url-pattern>
		<url-pattern>/front-end/ClockIndex.jsp</url-pattern>
		<url-pattern>/front-end/foodIndex.jsp</url-pattern>
		<url-pattern>/front-end/groupIndex.jsp</url-pattern>
		<url-pattern>/front-end/index_hpl.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>CatchFilter</filter-name>
		<filter-class>tool.CatchFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CatchFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>





	<servlet>
		<servlet-name>ShowImg_index</servlet-name>
		<servlet-class>ShowImg_index</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImg_index</servlet-name>
		<url-pattern>/emp/ShowImg_index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShowImg_empno</servlet-name>
		<servlet-class>ShowImg_empno</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImg_empno</servlet-name>
		<url-pattern>/emp/ShowImg_empno</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmpServlet</servlet-name>
		<servlet-class>com.emp.controller.EmpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmpServlet</servlet-name>
		<url-pattern>/emp/EmpServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.auth.controller.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet</servlet-name>
		<url-pattern>/auth/AuthServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AuthServlet2</servlet-name>
		<servlet-class>com.auth.controller.AuthServlet2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthServlet2</servlet-name>
		<url-pattern>/auth/AuthServlet2.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login/LoginServlet.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HeinfoServlet</servlet-name>
		<servlet-class>com.heinfo.controll.HeinfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HeinfoServlet</servlet-name>
		<url-pattern>/heinfo/heinfo.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Showimg</servlet-name>
		<servlet-class>com.heinfo.controll.Showimg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Showimg</servlet-name>
		<url-pattern>/heinfo/Showimg</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>back_LoginFilter</filter-name>
		<filter-class>back_login.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>back_LoginFilter</filter-name>
		<url-pattern>/back-end/emp/*</url-pattern>
		<url-pattern>/back-end/auth/*</url-pattern>
		<url-pattern>/back-end/mem/*</url-pattern>
		<url-pattern>/back-end/group_info/*</url-pattern>
		<url-pattern>/back-end/index_emp.jsp</url-pattern>
		<url-pattern>/back-end/heinfoIndex.jsp</url-pattern>
		<url-pattern>/back-end/index_auth.jsp</url-pattern>
		<url-pattern>/back-end/index_mem.jsp</url-pattern>
		<url-pattern>/back-end/groupInfo.jsp</url-pattern>
		<url-pattern>/back-end/index.jsp</url-pattern>
		<!-- <url-pattern>/back-end/*.jsp</url-pattern> -->
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>ASYNC</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>ShowImg_session</servlet-name>
		<servlet-class>ShowImg_session</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImg_session</servlet-name>
		<url-pattern>/emp/ShowImg_session</url-pattern>
	</servlet-mapping>
</web-app>